/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body.msg-body {
        background-color: #dcdcdc;
        padding: 0px;
}
div {
    margin: 0px;
    padding: 0px;
}
div.msg-flame {
    display: block;
    background-color: #ffffff;
    margin: 7px;
    padding-left: 10px;
    padding-right: 5px;
    box-shadow: 3px 3px 6px #000000;
}

h1, h2 {
    margin: 0px;
}

textarea.msg-form-textarea {
    border:0;
    padding:10px;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo;
    color:#aaa;
    border:solid 1px #ccc;
    margin:0px;
    width: 100%;
    resize: none;
}
input.msg-form-text {
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo;
}
button.msg-form-btn {
    width: 100px;
}
div.msg-separator {
    padding: 10px 10px 0px;
}

div.msg-panel {
    border-radius: 0px;
}
div.msg-panel-heading {
    margin: 0px;
    padding: 0px;
}
div.msg-list-group-item {
    padding: 0px 0px 0px 5px;
    border: none;
}
div.msg-list-group-item-header {
    background-color: #f0f8ff;
    border-bottom: solid 1px #87cefa;
}
div.msg-list-group-item-textarea {
    padding-left: 10px;
}
span.msg-list-group-item-text {
    font-style: italic;
}
hr.msg-separator {
    margin-top: 10px;
    margin-bottom: 10px;
}