<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- hoge -->
  <meta charset="utf-8">
  <title>MessageBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="application.css">
</head>
<body class="container msg-body">
    <div class="msg-flame">
        <header>
            <h1>Message Board</h1>
        </header>
        <session>
            <hr class="msg-separator" role="separator" aria-hidden="true">
            
            <%= yield %>
            
            <hr class="msg-separator" role="separator" aria-hidden="true">
        </session>
        <footer>
            <p>&copy; 2015 Toshihiro Chida</p>
        </footer>
    </div>
</body>
</html>
